extends layout.pug

block content
  h2= title
  img(src="/wizard.jpg")
  p#message= messages[0]
  p#message= messages[1]
  p= jaburaPublic
  div.form
    input#input(type="text", name="lvl3")
    button#button Enviar
